*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #c25f38;
}

body{
    background-color: #c25f38;
}

header{
    padding: 30px;
    margin-bottom: 2.5%;
}

.section_title{
    color: #ffffff;
    font-size: 10em;
    font-family: 'Dela Gothic One', sans-serif;
}

.section_title:hover {
    background-color: white;
    color: #c25f38;
    cursor: default;
}

.content {
    padding: 0 2.5%;
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-direction: row;
    width: 90%;
}

#img_contact, #int{
    width: 60%;
    height: auto;
    margin: 50px 50px 50px 0px;
}

#img_contact {
    margin: 0 50px 0 0;
    width: 30%;
}

#int p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
}

#int p:hover {
    font-weight: 600;
}

#img_contact img {
    width: 100%;
    height: auto;
    filter: blur(5px);
    transition: 0.10s ease-in;
}

#img_contact img:hover {
    filter: blur(0px);
}

/* FORMULARIO */

.form-label {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 800;
}

.form-1 {
    margin-top: 2.5%;
}

.form-control {
    border-radius: 0;
    width: 40%;
    margin-bottom: 2.5%;
}

.btn {
    margin-top: 7.5%;
    width: 100px;
    height: 50px;
    border-radius: 0px;
    border: solid 4px white;
    transition: 0s;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
}


.btn:hover {
    color: #c25f38;
}

.send {
    margin: 0%; 
    border: none;
    color: #c25f38;
    background-color: #ffffff;
    width: 150px;
    height: 43px;
}

.send:hover {
    background-color: #c25f38;
    color: #ffffff;
    border: solid 4px white;
}

/* FOOTER */

.rrss ul {
    height: 10%;
    margin-top: 7.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.rrss ul li {
    height: 70px;
    width: 70px;
    margin: 0 2.5%;
}

.rrss a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1280px) {
    .section_title{
        font-size: 8em;
    }

    #int p {
        font-size: 15px;
    }
}

@media screen and (max-width: 1050px) {
    .section_title{
        font-size: 6em;
    }

    #int p {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    .section_title{
        font-size: 4em;
    }

    #int p {
        font-size: 10px;
    }

    .form-label {
        font-size: 22px;
    }

    #img_contact, #int {
        margin: 35px 50px 50px 0px;
    }

    .rrss ul {
        margin-top: 15%;
    }
}

@media screen and (max-width: 550px) {
    .section_title{
        font-size: 2.8em;
    }

    #img_contact {
        display: none;
        width: 0;
    }

    .content{
        margin-left: 10%;
    }

    #int {
        margin: 35px 50px 50px 0px;
    }

    .form-label {
        font-size: 18px;
    }


}

@media screen and (max-width: 400px) {
    .section_title{
        font-size: 2.4em;
    }

    #int {
        margin: 0px 50px 50px 0px;
    }
}
