*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #c25f38;
}

body{
    background-color: #c25f38;
}

header{
    padding: 30px;
    margin-bottom: 7.5%;
}

.section_title{
    color: #ffffff;
    font-size: 10em;
    font-family: 'Dela Gothic One', sans-serif;
}

.section_title:hover {
    background-color: white;
    color: #c25f38;
    cursor: default;
}

.contenido {
    padding: 0 2.5%;
}

/* FORMULARIO */

.form-label {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 800;
}

.form-control {
    border-radius: 0;
    width: 40%;
    margin-bottom: 2.5%;
}

.btn {
    margin-top: 5%;
    width: 100px;
    height: 60px;
    border-radius: 0px;
    border: solid 4px white;
    transition: 0s;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.btn:hover {
    color: #c25f38;
}