*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #c25f38;
}

body{
    background-color: #c25f38;
}

header{
    padding: 30px;
    margin-bottom: 2.5%;
}

.section_title{
    color: #ffffff;
    font-size: 10em;
    font-family: 'Dela Gothic One', sans-serif;
}

.section_title:hover {
    background-color: white;
    color: #c25f38;
    cursor: default;
}

.content {
    padding: 0 2.5%;
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-direction: row;
    width: 90%;
}

#img_contact, #int{
    width: 60%;
    height: auto;
    margin: 50px 50px 50px 0px;
}

#img_contact {
    margin: 0 50px 0 0;
    width: 30%;
}

#int p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
}

#int p:hover {
    font-weight: 600;
}

#img_contact img {
    width: 100%;
    height: auto;
    filter: blur(5px);
    transition: 0.10s ease-in;
}

#img_contact img:hover {
    filter: blur(0px);
}

/* FORMULARIO */

.form-label {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 800;
}

.form-1 {
    margin-top: 2.5%;
}

.form-control {
    border-radius: 0;
    width: 40%;
    margin-bottom: 2.5%;
}

.btn {
    margin: 5% 0%;
    width: 100px;
    height: 60px;
    border-radius: 0px;
    border: solid 4px white;
    transition: 0s;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.btn:hover {
    color: #c25f38;
}

/* FOOTER */

.rrss ul {
    height: 10%;
    margin-top: 12.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.rrss ul li {
    height: 70px;
    width: 70px;
    margin: 0 2.5%;
}

.rrss a {
    text-decoration: none;
    color: white;
}
