*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

header{
    padding: 30px;   
}

.section_title{
    color: #ffffff;
    font-size: 10em;
    font-weight: 900;
    font-family: 'Dela Gothic One', sans-serif;
}

.section_title:hover {
    background-color: white;
    color: black;
}

.accordion{
    background-color: black;    
}

.accordion-button {
    padding: 50px;
    color: #ffffff;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
}

.accordion-button:not(.collapsed) {
    background-color: #ffffff;
    color: black;
}

.accordion-button:focus {
    border-color: rgb(97, 97, 97);
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
}

#gallery .column { 
    flex: 25%;
    padding: 4px;
    display: flex;
    flex-direction: column;
}

#gallery .column img {
    margin-top: 8px;
    width: 100%;
    height: auto;
}

