*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

header{
    padding: 30px;   
}

.accordion{
    background-color: black;    
}

.section_title{
    color: #ffffff;
    font-size: 10em;
    font-weight: 900;
}

.accordion-button {
    padding: 50px;
    color: #ffffff;
    background-color: black;
}
