*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Dela Gothic One', sans-serif;
}

a{
    text-decoration: none;
}

a > h5{
    font-family: 'Dela Gothic One', sans-serif;
    text-decoration: none; 
    color: rgb(255, 255, 255);
    font-size: 5em;
    margin-bottom: 2em;
    text-align: center;
}

a > h5:hover{
    background-color: white;
    color: black;
}

.carousel-caption > h1{
    font-size: 7.25em;
    margin-bottom: 2em;
    text-align: center;
}

.carousel-caption > h1:hover{
    background-color: white;
    color: black;
}

.carousel-caption > p{
    font-size: 1.85em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.carousel-caption > h5{
    font-size: 4em;
    padding-bottom: 1em;
    font-family: 'Dela Gothic One', sans-serif;
}

    

.carousel-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.carousel-item {
    /* Ancho deseado del contenedor */
    height: 100vh; /* Altura deseada del contenedor */
    overflow: hidden; /* Para recortar la imagen si es más grande que el contenedor */
}

/* Estilo de la imagen */
.carousel-item img {
    height: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    width: auto; /* Altura automática para mantener la proporción original de la imagen */
    display: block; /* Elimina el espacio adicional por debajo de la imagen */
    overflow: hidden;
}

@media screen and (max-width: 1520px){
    .carousel-caption > h1{
        font-size: 6em;
        margin-bottom: 40%;
    }
}

@media screen and (max-width: 1260px){
    .carousel-caption > h1{
        font-size: 5em;
        
    }

    a > h5{
        font-size: 4em;
    }
    .carousel-caption > p {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 1050px){
    .carousel-caption > h1{
        font-size: 4em;
        
    }
    a > h5{
        font-size: 3.5em;
        margin-bottom: 25%;
    }
}

@media screen and (max-width: 900px){
    a > h5{
        font-size: 3em;
    }
    .carousel-caption > h1{
        font-size: 3.5em;
    }
}

@media screen and (max-width: 730px){
    a > h5{
        font-size: 2.5em;
    }
    .carousel-caption > h1{
        font-size: 3em;
    }
}

@media screen and (max-width: 630px){
    a > h5{
        font-size: 2em;
    }
    .carousel-caption > h1{
        font-size: 2.5em;
        margin-bottom: 50%;
    }
    .carousel-caption > p {
        font-size: 1em;
    }
}

@media screen and (max-width: 530px){
    a > h5{
        font-size: 1.75em;
        margin-bottom: 60%;
    }
    .carousel-caption > h1{
        font-size: 2em;
        margin-bottom: 90%;
    }
    .carousel-caption > p {
        font-size: 0.75em;
    }
}

