*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Dela Gothic One', sans-serif;
}

a{
    text-decoration: none;
}

a > h5{
    font-family: 'Dela Gothic One', sans-serif;
    text-decoration: none; 
    color: aliceblue;
    font-size: 7em;
    padding-bottom: 1em
}
.carousel-caption > h1{
    font-size: 10em;
    padding-bottom: 1em;
   
}
.carousel-caption > p{
    font-size: 3em;
    font-family: 'Dela Gothic One', sans-serif;
}

.carousel-caption > h5{
    font-size: 4em;
    padding-bottom: 1em;
    font-family: 'Dela Gothic One', sans-serif;
}

    

.carousel-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.carousel-item {
    /* Ancho deseado del contenedor */
    height: 100vh; /* Altura deseada del contenedor */
   
    overflow: hidden; /* Para recortar la imagen si es más grande que el contenedor */
}

/* Estilo de la imagen */
.carousel-item img {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto; /* Altura automática para mantener la proporción original de la imagen */
    display: block; /* Elimina el espacio adicional por debajo de la imagen */
}