*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #222d3b;
}

body{
    background-color: #222d3b;
}

header{
    padding: 30px;
    margin-bottom: 2.5%;
}

.section_title{
    color: #ffffff;
    font-size: 10em;
    font-family: 'Dela Gothic One', sans-serif;
}

.section_title:hover {
    background-color: white;
    color: #222d3b;
    cursor: default;
}

.contenido {
    padding: 0 2.5%;
}

/* CONTENIDO ACORDEÓN */

.accordion{
    background-color: #222d3b;    
}

.accordion-button {
    padding: 50px;
    color: #ffffff;
    background-color: #222d3b;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 800;
    transition: 0s;
}

.accordion-button:hover{
    background-color: white;
    color: #222d3b;
}

.accordion-button:not(.collapsed) {
    background-color: #ffffff;
    color: #222d3b;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
}

#gallery .column { 
    flex: 25%;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#gallery .column img {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 90%;
    height: auto;
    filter: grayscale(1);
    transition: 0.10s;
}

#gallery .column img:hover {
    filter: none;
}

.btn {
    margin-top: 5%;
    width: 100px;
    height: 60px;
    border-radius: 0px;
    border: solid 4px white;
    transition: 0s;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.btn:hover {
    color: #222d3b;
}
